/*style.css*/

.cuerpo{
	background-color: #FFBF00;
	font-family: sans-serif;

}

.table{
	border-radius: 15px;
}

.title{
	font-weight: bolder;
	font-size: 20px;
	font-family: sans-serif;

}


.submit{
	background:url(http://columbustoolkit.co.nz/jupgrade/images/login%20button%201.png) ;
   
}